.meet-the-developer-body {
    display: block;
    justify-content: space-evenly;
    width: 80vw;
    margin: 2em auto;
}
.meet-the-developer-body p{
    text-align: justify;
    max-width: 80vw;
}
.meet-the-developer-body span{
     color: dodgerblue;
     text-decoration: underline;
     cursor: pointer;
 }
.meet-the-developer-body .chibi-frame {
    margin: 4px auto;


}
.meet-the-developer-page-wrapper h2{
    color: white;
    margin-top: 4rem;
}
@media (min-width: 480px) {
    .meet-the-developer-body {
        display: inline-flex;
        justify-content: space-evenly;
        width: 80vw;
        margin: 1em 0;
    }
    .meet-the-developer-body p{
        max-width: 50vw;
    }
    .meet-the-developer-body .chibi-frame {
        margin: auto 2em !important;
        border-radius: 100%;
        -webkit-box-shadow: 0 2px 7px 4px rgba(0,0,0,0.19);
        box-shadow: 0 2px 7px 4px rgba(0,0,0,0.19);
    }
}
@media (min-width: 767px) {

}